:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(https://store.akamai.steamstatic.com/public/images/v6/colored_body_top.png?v=2)
    center top no-repeat #1b2838;
  color: #c6d4df;
  font-size: 12px;
}

.global-header {
  background-color: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.content-header {
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.content-header .logo {
  align-self: flex-start;
  padding-top: 30px;
  margin-right: 40px;
}

.content-header > .navigation {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.content-header > .navigation .nav-link {
  text-decoration: none;
  color: #dcdedf;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.content-header > .navigation .nav-link:hover {
  color: #ffffff;
}

.global-action {
  position: relative;
  top: 5px;
  width: 100%;
  align-self: flex-start;
  margin-left: 120px;
  line-height: 24px;
}

.global-action > .navigation {
  position: absolute;
  right: 0;
  display: flex;
  gap: 5px;
  font-size: 11px;
  color: #b8b6b4;
}

#install-steam {
  width: 109px;
  height: 21px;
  line-height: 24px;
  margin-right: 3px;
  text-decoration: none;
  color: #ffffff;
  background-color: #5c7e10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#install-steam:hover {
  filter: brightness(120%);
}

#install-steam .btnInstall {
  display: inline-block;
  font-size: 11px;
}

#login-link {
  text-decoration: none;
  font-size: 11px;
  color: #b8b6b4;
}
#login-link:hover {
  color: #ffffff;
}

#language {
  cursor: pointer;
}
#language:hover {
  color: #ffffff;
}

.container {
  margin-top: 40px;
  min-width: 972px;
  position: relative;
}

.left-wrapper {
  position: relative;
  left: 90px;
}

.content-leftWrapper {
  position: absolute;
  width: 210px;
}

.content-leftWrapper > a:first-child {
  text-decoration: none;
  color: #ffffff;
}

.steamDesk-img {
  position: relative;
  margin: 0 0 2px 0;
  color: #88bde9;
  line-height: 16px;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}
.steamDesk-img:hover {
  color: #ffffff;
}

.steamDesk-container {
  z-index: -1;
  position: absolute;
  top: -35px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: linear-gradient(135deg, #2286f9 28%, #d0266f 35%);
  -webkit-mask: radial-gradient(circle at 48% 19%, black 2%, transparent 20%);
}

.steamDesk-img > img {
  max-width: 85%;
  margin-bottom: 6px;
}

.steamDesk-promoText {
  display: block;
  margin-top: 5px;
  width: fit-content;
  color: #a4b3c4;
  font-size: 12px;
  font-weight: 650;
  margin-bottom: 25px;
}

.gift-card > a {
  text-decoration: none;
  color: #ffffff;
}

.giftCard-img {
  margin: 0 0 2px 2;
  color: #88bde9;
  line-height: 16px;
  font-size: 14px;
  font-weight: 650;
  text-transform: uppercase;
}
.giftCard-img:hover {
  color: #ffffff;
}

.giftCard-img > img {
  max-width: 85%;
  margin-bottom: 6px;
}

.gift-card .giftCard-promoText {
  margin-top: 5px;
  width: fit-content;
  color: #a4b3c4;
  font-size: 12px;
  font-weight: 650;
  margin-bottom: 25px;
}

.genre-list {
  display: flex;
  flex-direction: column;
}

.genre-list .genre-title {
  line-height: 16px;
  margin: 7px 0;
  color: #536f86;
  font-size: 14px;
  font-weight: 650;
  text-transform: uppercase;
}

.genre-list .btnGenre {
  margin: 2px 0;
  text-decoration: none;
  color: #7a8b9d;
  line-height: 16px;
  font-size: 12px;
  font-weight: 650;
  text-transform: capitalize;
  cursor: pointer;
}
.genre-list .btnGenre:hover {
  color: #66c0f4;
}

.right-wrapper {
  min-width: 972px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.search-input {
  position: relative;
  width: 940px;
  height: 49px;
  border: none;
  display: flex;
  align-items: center;
}

#search-form {
  position: absolute;
  right: 0;
  width: 225px;
  height: 33px;
  border-radius: 3px;
  background-color: #305d8a;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0px;
  margin-right: 15px;
  outline: none;
  padding: 0px 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}
#search-form:hover {
  border: 1px solid #4c9acc;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
}

#search-game {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  line-height: 26px;
  margin-top: 1px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 300;
  border: none;
}

#search-game::placeholder {
  color: #0e1c25;
  font-style: italic;
}

#store-search-link > img {
  height: 31px;
}

.flickity-viewport {
  width: 930px;
  box-shadow: 0 0 7px 0px #000;
}

.flickity-page-dots {
  text-align: center;
  min-height: 37px;
}

.flickity-page-dots .dot {
  margin: 12px 2px;
}

.recommended-list {
  max-width: 940px;
  margin: 20px 0 20px 0;
}

.recommended-list .recommendedList-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400px;
  text-transform: uppercase;
  padding-top: 2px;
  margin-bottom: 10px;
}

.main-carousel .bestGame-container {
  width: 930px;
  height: 353px;
  display: flex;
  box-shadow: 0 0 7px 0px #000;
}
.bestGame-img {
  width: 616px;
  height: 353px;
  border: 1px solid black;
}

.bestGame-img > img {
  width: 616px;
  height: 353px;
}

.bestGame-info {
  position: relative;
  width: 314px;
  height: 353px;
  padding-left: 10px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid black;
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/home/background_maincap_2.jpg);
}

.bestGame-info .bestGame-title {
  width: 100%;
  height: 69px;
  padding-top: 0;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.bestGame-info .bestGame-genre {
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  gap: 10px;
}

.bestGame-genre .genre-tag {
  max-width: 200px;
  margin: 3px 2px 3px 0px;
  padding: 0 7px;
  line-height: 19px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  text-transform: capitalize;
}

.bestGame-default {
  margin-bottom: 30px;
  padding: 6px 10px 0 0;
  font-size: 21px;
  font-weight: 200;
  min-height: auto;
}

.bestGame-price {
  padding: 10px 10px 10px 0;
  font-size: 24px;
  font-weight: bold;
}

.bestGame-platform {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  line-height: 16px;
  font-size: 11px;
  text-transform: capitalize;
}

.content-promotion {
  padding: 20px 0;
  overflow: hidden;
}

.content-promotion img {
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  max-width: 930px;
  width: 100%;
  max-height: 250px;
  height: 15.4vw;
  background-size: cover;
}
.content-promotion img:hover {
  box-shadow: 0 0 12px #66c0f4;
}

.trending-game {
  width: 940px;
  display: flex;
  flex-direction: column;
}

.trending-game .trendingGame-title {
  line-height: 29px;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  background: #1a2737;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.25);
  cursor: default;
  margin-top: 0;
  box-shadow: none;
}

.trendingGame-list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.trendingGame-list .gameBox {
  height: 69px;
  width: 930px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  border-top-left-radius: 10px;
  cursor: pointer;
}
.trendingGame-list .gameBox:hover {
  color: #000;
  background: linear-gradient(to right, #c6e6f8 5%, #95bcd3 95%);
}

.gameBox .gameBox-img {
  max-width: 184px;
  border: none;
}
.gameBox img {
  width: 184px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.gameBox .gameBox-info {
  width: 100%;
  max-width: 600px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.gameBox-info .gameBox-title {
  font-size: 1.25em;
  line-height: 18px;
  padding-top: 10px;
  white-space: nowrap;
}

.gameBox-info .gameBox-platform {
  line-height: 16px;
  font-size: 11px;
}
.gameBox-info .gameBox-tags {
  padding-top: 10px;
}

.gameBox-tags .tag {
  white-space: nowrap;
  color: #384959;
  line-height: 20px;
}

.gameBox .gameBox-price {
  width: 100%;
  max-width: 150px;
  padding-top: 10px;
}
