:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(https://store.akamai.steamstatic.com/public/images/v6/colored_body_top.png?v=2)
    center top no-repeat #1b2838;
  color: #c6d4df;
  font-size: 12px;
}

.global-header {
  background-color: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.content-header {
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.content-header .logo {
  align-self: flex-start;
  padding-top: 30px;
  margin-right: 40px;
}

.content-header > .navigation {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.content-header > .navigation .nav-link {
  text-decoration: none;
  color: #dcdedf;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.content-header > .navigation .nav-link:hover {
  color: #ffffff;
}

.global-action {
  position: relative;
  top: 5px;
  width: 100%;
  align-self: flex-start;
  margin-left: 120px;
  line-height: 24px;
}

.global-action > .navigation {
  position: absolute;
  right: 0;
  display: flex;
  gap: 5px;
  font-size: 11px;
  color: #b8b6b4;
}

#install-steam {
  width: 109px;
  height: 21px;
  line-height: 24px;
  margin-right: 3px;
  text-decoration: none;
  color: #ffffff;
  background-color: #5c7e10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#install-steam:hover {
  filter: brightness(120%);
}

#install-steam .btnInstall {
  display: inline-block;
  font-size: 11px;
}

#login-link {
  text-decoration: none;
  font-size: 11px;
  color: #b8b6b4;
}
#login-link:hover {
  color: #ffffff;
}

#language {
  cursor: pointer;
}
#language:hover {
  color: #ffffff;
}

.container {
  margin-top: 40px;
  min-width: 972px;
  position: relative;
}

.left-wrapper {
  position: relative;
  left: 90px;
}

.content-leftWrapper {
  position: absolute;
  width: 210px;
}

.content-leftWrapper > a:first-child {
  text-decoration: none;
  color: #ffffff;
}

.steamDesk-img {
  position: relative;
  margin: 0 0 2px 0;
  color: #88bde9;
  line-height: 16px;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}
.steamDesk-img:hover {
  color: #ffffff;
}

.steamDesk-container {
  z-index: -1;
  position: absolute;
  top: -35px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: linear-gradient(135deg, #2286f9 28%, #d0266f 35%);
  -webkit-mask: radial-gradient(circle at 48% 19%, black 2%, transparent 20%);
}

.steamDesk-img > img {
  max-width: 85%;
  margin-bottom: 6px;
}

.steamDesk-promoText {
  display: block;
  margin-top: 5px;
  width: fit-content;
  color: #a4b3c4;
  font-size: 12px;
  font-weight: 650;
  margin-bottom: 25px;
}

.gift-card > a {
  text-decoration: none;
  color: #ffffff;
}

.giftCard-img {
  margin: 0 0 2px 2;
  color: #88bde9;
  line-height: 16px;
  font-size: 14px;
  font-weight: 650;
  text-transform: uppercase;
}
.giftCard-img:hover {
  color: #ffffff;
}

.giftCard-img > img {
  max-width: 85%;
  margin-bottom: 6px;
}

.gift-card .giftCard-promoText {
  margin-top: 5px;
  width: fit-content;
  color: #a4b3c4;
  font-size: 12px;
  font-weight: 650;
  margin-bottom: 25px;
}

.genre-list {
  display: flex;
  flex-direction: column;
}

.genre-list .genre-title {
  line-height: 16px;
  margin: 7px 0;
  color: #536f86;
  font-size: 14px;
  font-weight: 650;
  text-transform: uppercase;
}

.genre-list > a {
  margin: 2px 0;
  text-decoration: none;
  color: #7a8b9d;
  line-height: 16px;
  font-size: 12px;
  font-weight: 650;
}
.genre-list > a:hover {
  color: #66c0f4;
  text-decoration: none;
}

.right-wrapper {
  min-width: 972px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.search-input {
  position: relative;
  width: 940px;
  height: 49px;
  border: none;
  display: flex;
  align-items: center;
}

#search-form {
  position: absolute;
  right: 0;
  width: 225px;
  height: 33px;
  border-radius: 3px;
  background-color: #305d8a;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0px;
  margin-right: 15px;
  outline: none;
  padding: 0px 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}
#search-form:hover {
  border: 1px solid #4c9acc;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
}

#search-game {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  line-height: 26px;
  margin-top: 1px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 300;
  border: none;
}

#search-game::placeholder {
  color: #0e1c25;
  font-style: italic;
}

#store-search-link > img {
  height: 31px;
}

.recommended-list {
  margin: 20px 0 20px 0;
}

.recommended-list .recommendedList-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400px;
  text-transform: uppercase;
  padding-top: 2px;
  margin-bottom: 10px;
}

.main-carousel .gameBox {
  border: 1px solid black;
  width: 930px;
  height: 353px;
}
